@import 'vars';

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  place-items: center;
  border-bottom: 1px solid var(--light-pink);
}
.menu {
  display: none;
}
.logo {
  width: 100px;
}
.navbarLeft {
  display: flex;
}
.navbarLeft ul {
  margin-left: 20px;
}
.navbarLeft ul,
.navbarRight ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarLeft ul li a,
.navbarRight ul li a {
  text-decoration: none;
  color: var(--light-pink);
  border: 1px solid var(--white);
  border-radius: 12px;
  padding: 12px;
}
.navbarLeft ul li a:hover,
.navbarRight ul li a:hover {
  color: var(--flag--green);
  border: 1px solid var(--flag--green);
}
.navbarEmail {
  color: var(--light-pink);
  font-size: var(--sm);
  margin-right: 20px;
}
.navbarEmail img {
  transform: rotate(90deg);
  margin-left: 4px;
}
.navbarShoppingCard {
  position: relative;
}
.navbarShoppingCard div{
  width: 18px;
  height: 18px;
  color: var(--light-pink);
  background-color: var(--flag--green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .menu {
        display: block;
  }
  .navbarLeft ul {
        display: none;
  }
  .navbarEmail {
        display: none;
  }
}