@use '../vars';

.shoopingCardItem {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 20px;
  align-items: center;
}
.shoopingCardItem figure {
margin: 0;
}
.shoopingCardItem figure img {
width: 80px;
height: 80px;
border-radius: 20px;
object-fit: cover;
}
.shoopingCardItem p:nth-child(2) {
color: var(--light-pink);
}
.shoopingCardItem p:nth-child(3) {
font-weight: bold;
}
.shoopingCardItem p + img {
  margin-right: 8px;
  cursor: pointer;
}