:root {
  --white: #FFFFFF;
  --black: #000000;
  --light-pink: #C7C7C7;
  --text-input-field: #f7f7f7;
  --flag--green: #004d00;
  --flag--green-hover: #006600;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}